In [1]:
import pandas as pd
from glob import glob
import re
import math

In [2]:
list_meta = glob("meta/*.xlsx")
list_meta.sort()
list_meta

['/data1/home/jyhwang/meta/asan.xlsx',
 '/data1/home/jyhwang/meta/brmh.xlsx',
 '/data1/home/jyhwang/meta/ilsan.xlsx',
 '/data1/home/jyhwang/meta/ncc2018-1st-1.xlsx',
 '/data1/home/jyhwang/meta/ncc2018-1st-2.xlsx',
 '/data1/home/jyhwang/meta/ncc2018-1st-3.xlsx',
 '/data1/home/jyhwang/meta/ncc2018-2nd.xlsx',
 '/data1/home/jyhwang/meta/ncc2020.xlsx',
 '/data1/home/jyhwang/meta/samsung1.xlsx',
 '/data1/home/jyhwang/meta/samsung2.xlsx',
 '/data1/home/jyhwang/meta/twin.xlsx']

In [4]:
# 파일 확인
i=0
sheet = 0
print(list_meta[i])
meta_asan = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=sheet)
meta_asan

/data1/home/jyhwang/meta/asan.xlsx

,strimageid,id,case_id,case,anal_group,age,wt,ht,bmi,darea_cu,pda_cu,darea_ac,pda_ac,darea_cc,pda_cc
0,13290335_1.dcm,13290335,36937334,0,control,50,64.6,155.0,26.888,8.29778,5.665040,2.2090,1.489550,0.01970,0.013062
1,21087749_1.dcm,21087749,36587544,0,control,49,62.0,159.0,24.524,16.46840,15.133600,7.7427,6.690030,0.07550,0.065343
2,15321033_0.dcm,15321033,36825361,0,control,46,61.9,168.0,21.931,17.64830,15.635350,11.2993,9.484430,1.47640,1.235230
3,15849579_0.dcm,15849579,34240306,0,control,53,57.9,151.0,25.393,1.01044,1.291189,0.5780,0.735459,0.17560,0.222740
4,11505055_0.dcm,11505055,35951205,0,control,44,62.2,161.0,23.995,11.08953,16.957600,4.2225,6.265200,0.14890,0.215343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2129,37090841_0.dcm,37090841,37090841,1,DCIS,49,56.3,158.2,22.500,23.86935,23.868800,20.4757,19.740000,0.94090,0.902668
2130,28387464_1.dcm,28387464,28387464,1,DCIS,41,52.0,158.0,20.830,25.76020,30.660650,15.1138,16.969700,1.38380,1.559310
2131,35222565_0.dcm,35222565,35222565,1,DCIS,40,53.0,154.0,22.350,64.46975,50.724600,37.3543,27.768200,3.54870,2.649810
2132,36230956_0.dcm,36230956,36230956,1,DCIS,49,56.0,161.0,21.600,21.38920,63.638150,19.4278,55.321600,3.73079,10.409100
2133,34817674_1.dcm,34817674,34817674,1,DCIS,48,62.0,152.0,26.840,52.20130,32.003400,36.0194,20.886700,2.23770,1.306430

In [6]:
i=1
sheet = 5
print(list_meta[i])
meta_brmh = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=sheet)
meta_brmh

/data1/home/jyhwang/meta/brmh.xlsx

,Unnamed: 0,검진날짜,연령,성별,이미지 수,진단,병리결과,비고-검진종류,판독,B_검진일자,B_판독,B_검진일자.1,B_판독.1,B_검진일자.2,B_판독.2,B_검진일자.3,B_판독.3,B_검진일자.4,B_판독.4
0,1,2019-12-31,29,F,4,NaN,NaN,NaN,"CONCLUSION \nNegative, C1 \nFINDING \nAt MG, G...",NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
1,2,2019-12-31,36,F,4,NaN,NaN,NaN,CONCLUSION \nBIRADS Category 1: Negative \nFIN...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
2,3,2019-12-31,40,F,4,NaN,NaN,NaN,CONCLUSION \nBIRADS Category 2: Benign \nFINDI...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
3,4,2019-12-31,35,F,4,NaN,NaN,NaN,"CONCLUSION \nNegative, C1 \nFINDING \nAt MG, G...",NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
4,5,2019-12-31,58,F,4,NaN,NaN,NaN,CONCLUSION \nBIRADS Category 2: Benign \nFINDI...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,1396,2014-09-01,65,F,4,NaN,NaN,NaN,CONCLUSION \ncategory 4c\n\n \nFINDING \nLI pa...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
1396,1397,2012-02-15,63,F,4,NaN,NaN,NaN,"CONCLUSION \ncategory 6, 4b\n\n \nFINDING \nAS...",NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
1397,1398,2011-04-04,62,F,4,NaN,NaN,NaN,"CONCLUSION \ncategory 6, 4a\n\nComment:viable ...",2010-09-06,CONCLUSION \nC5.\n\nRec:breast US and gun Bx. ...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
1398,1399,2009-05-11,60,F,4,NaN,NaN,NaN,CONCLUSION \nHuge mass replacing left breast w...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
1399,1400,2016-05-13,67,F,4,NaN,NaN,공단(2016),"CONCLUSION \nCategory 0, incomplete assessment...",NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN

In [7]:
i=2
sheet = 0
print(list_meta[i])
meta_ilsan = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=sheet)
meta_ilsan

/data1/home/jyhwang/meta/ilsan.xlsx

,Study_ID,Case_Control,Age,Menarche,Age_first birth,Number_birth,Menopausal state,Height,Weight,BMI,Case_location,Report
0,1,0,58,15,28.0,1,1,1.52,54.0,23.372576,NaN,The breast tissue is heterogeneously dense.
1,2,0,61,13,NaN,0,1,1.49,58.8,26.485293,NaN,The breast tissue is heterogeneously dense.
2,3,0,59,15,28.0,2,1,1.50,46.0,20.444444,NaN,The breast tissue is primarily fatty and well ...
3,4,0,30,12,30.0,1,0,1.60,77.0,30.078125,NaN,The breast tissue is heterogeneously dense.
4,5,0,38,13,32.0,1,0,1.55,51.0,21.227888,NaN,The breast tissue is extremely dense.
...,...,...,...,...,...,...,...,...,...,...,...,...
153,154,1,38,14,NaN,0,0,1.58,48.0,19.227688,R,"The breasts are heterogeneously dense, which m..."
154,155,1,52,18,29.0,2,1,1.60,61.0,23.828125,R,"The breasts are extremely dense, which lowers ..."
155,156,1,83,18,31.0,3,1,1.56,63.7,26.175214,L,There are scattered areas of fibroglandular de...
156,157,1,70,17,25.0,2,1,1.60,70.1,27.382812,L,The breast tissue is primarily fatty and well ...
157,158,1,45,14,20.0,2,0,1.70,53.0,18.339100,R,"The breasts are heterogeneously dense, which m..."

In [8]:
# ncc2020은 sheet이 여러개이므로 합치기
i=7
print(list_meta[i])
meta_ncc2020_malign = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=0)
meta_ncc2020_malign["GROUP"] = "malign"
meta_ncc2020_benign = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=1)
meta_ncc2020_benign["GROUP"] = "benign"
meta_ncc2020_normal = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=2)
meta_ncc2020_normal["GROUP"] = "normal"
meta_ncc2020 = pd.concat([meta_ncc2020_malign,meta_ncc2020_benign,meta_ncc2020_normal])

del meta_ncc2020_malign, meta_ncc2020_benign, meta_ncc2020_normal

meta_ncc2020

/data1/home/jyhwang/meta/ncc2020.xlsx

,ID,악성 종양의 위치,BIRADS category (양쪽),BIRADS category (좌),BIRADS category (우),T stage,N stage,조직형 진단,검사장비,검사장비모델,악성 종양의 크기,GROUP
0,1,"Breast, left, lumpectomy:",NaN,5,NaN,1c,0(sn),Invasive ductal carcinoma,GE MEDICAL SYSTEMS,Senograph DS VERSION ADS_53.10.10,1.8cm,malign
1,2,"Breast, left, simple mastectomy:",NaN,4b,NaN,2,0(sn),Metaplastic carcinoma,GE MEDICAL SYSTEMS,Senograph DS VERSION ADS_53.10.1.1,3cm,malign
2,3,"Breast, left, lumpectomy:",NaN,Unidentified,NaN,1c,0(sn),Invasive lobular carcinoma,GE MEDICAL SYSTEMS,Senograph DS VERSION ADS_53.10.1.1,1.5cm,malign
3,4,"Breast, right, modified radical mastectomy:",NaN,NaN,5,3,2a,Invasive ductal carcinoma,GE MEDICAL SYSTEMS,Senograph DS VERSION ADS_53.10.1.1,6.5cm,malign
4,5,"Breast, right, lumpectomy:",NaN,NaN,4c,2,0(sn),Invasive ductal carcinoma,GE MEDICAL SYSTEMS,Senograph DS VERSION ADS_53.10.10,2.5cm,malign
...,...,...,...,...,...,...,...,...,...,...,...,...
4495,25668,NaN,1,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,Senograph 2000D ADS_17.4.5,NaN,normal
4496,25669,NaN,1,NaN,NaN,NaN,NaN,NaN,"HOLOGIC, Inc.",Selenia Dimensions,NaN,normal
4497,25670,NaN,1,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,Senograph 2000D ADS_17.4.5,NaN,normal
4498,25671,NaN,1,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,Senograph 2000D ADS_17.4.5,NaN,normal
4499,25672,NaN,1,NaN,NaN,NaN,NaN,NaN,"HOLOGIC, Inc.",Selenia Dimensions,NaN,normal

In [9]:
# 삼성은 파일이 2개이므로 합치기
print(list_meta[8], list_meta[9])
meta_samsung1 = pd.read_excel(list_meta[8], engine='openpyxl', sheet_name=0)
meta_samsung2 = pd.read_excel(list_meta[9], engine='openpyxl', sheet_name=0)

meta_samsung2 = meta_samsung2.rename(columns={"newid": "id","bca_fhx": "fhx","menac_age":"menar","menop_r":"menop","alcever":"drink_e","hrt_ever":"hrt_e"})
meta_samsung = pd.concat([meta_samsung1, meta_samsung2])
del meta_samsung1, meta_samsung2
meta_samsung

/data1/home/jyhwang/meta/samsung1.xlsx /data1/home/jyhwang/meta/samsung2.xlsx

,case_id,id,case,fhx,benign,inva_grp,scrn_grp,age,machine,bmi,...,r_pe,darea_cu,pda_cu,darea_ac,pda_ac,darea_cc,pda_cc,wt,ht,child_no
0,14805041,17735961,0,0.0,1,1,1,52,2,20.6000,...,1.0,6.925758,8.753561,4.569642,5.623704,0.854756,1.046830,NaN,NaN,NaN
1,25176804,52866,0,0.0,0,1,1,51,2,24.4000,...,0.0,3.230423,4.490242,2.757377,3.606437,1.832110,2.375420,NaN,NaN,NaN
2,22322936,21146117,0,0.0,0,1,1,52,2,22.4033,...,0.0,8.771098,13.308380,2.048886,2.954942,1.009300,1.458090,NaN,NaN,NaN
3,16245351,78017,0,0.0,0,1,1,52,2,19.1000,...,0.0,16.562590,27.871320,14.267870,23.758160,1.272380,2.119670,NaN,NaN,NaN
4,25779296,1639022,0,0.0,0,1,1,53,2,24.8000,...,0.0,14.292960,9.591126,10.402260,6.636929,3.519420,2.250300,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,S13_375,S2247,0,0.0,0,1,1,44,2,21.5000,...,1.0,15.317400,20.369810,5.535530,7.401012,2.126392,2.820265,47.4,148.6,2.0
1246,S13_268,S0573,0,0.0,0,1,1,45,2,18.7000,...,1.0,2.499086,13.929240,0.657506,3.718049,0.404899,2.290160,45.0,155.2,2.0
1247,S13_397,S13-397,1,0.0,0,1,1,53,2,24.7000,...,0.0,13.668040,15.839970,5.804442,6.735932,1.642700,1.914058,55.9,150.4,1.0
1248,S13_272,S13-272,1,0.0,0,1,1,44,2,26.2000,...,0.0,16.694830,22.602580,7.020880,9.525555,2.315630,3.135012,60.0,151.3,1.0
1249,S13_419,S1017,0,0.0,0,1,1,49,2,28.2000,...,1.0,9.310675,5.107372,3.597286,1.979035,1.155065,0.632764,64.8,151.7,2.0

In [10]:
i=10
sheet = 0
print(list_meta[i])
meta_twin = pd.read_excel(list_meta[i], engine='openpyxl', sheet_name=sheet)
meta_twin

/data1/home/jyhwang/meta/twin.xlsx

,fid,fa,fa_eid,mo,mo_eid,iid,eid,sex,age,Birthday,mztwin,dztwin,ca108_ag,ca108,ca108_cu,BMI,test_date,ID2,ID2.1,PatientID
0,T520,S3527,E1026880,S3136,E1026891,S1,E1026901,2,28,1985-01-27 00:00:00,.,.,888,1,888,20.47,2013-06-14,NaN,NaN,NaN
1,T482,S1808,NaN,S1487,NaN,S100,E2004750,2,37,1970-03-14 00:00:00,2133,.,888,1,888,24.41,2007-10-24,E2004750,E2_004750,1844778.0
2,T646,S586,NaN,S1679,E2001491,S1000,E2001310,2,32,1974-01-28 00:00:00,2035,.,888,1,888,19.6,2006-04-20,E2001310,E2_001310,1759151.0
3,T47,S3843,E1011021,S745,E1026741,S10000,E1027181,1,17,.,.,.,888,1,888,18.75,2015-01-05,NaN,NaN,NaN
4,T343,S1163,E1020561,S2479,E1020420,S10001,E1027191,1,28,.,.,.,888,1,888,22.75,2015-01-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,T436,0,NaN,0,NaN,S995,E1014461,1,69,1938-10-08 00:00:00,.,.,888,1,888,30.29,2007-09-10,NaN,NaN,NaN
3496,T428,S1604,E1017731,S1484,E1017741,S996,E1017770,2,35,1973-03-03 00:00:00,.,1423,888,1,888,22.92,2008-09-29,NaN,NaN,NaN
3497,T269,0,NaN,0,NaN,S997,E1023271,2,66,1945-02-06 00:00:00,.,.,888,1,888,25.06,2011-08-30,NaN,NaN,NaN
3498,T151,0,NaN,0,NaN,S998,E1007431,2,70,1936-09-17 00:00:00,.,.,888,1,888,24.49,2006-09-25,E1007431,E1_007431,18809784.0
3499,T421,S1783,E1024641,S3784,E1003840,S999,E1024881,1,18,1993-07-29 00:00:00,.,.,888,1,888,24.68,2011-11-23,NaN,NaN,NaN

##### ncc2018

In [11]:
# NCC2018 정리하기

In [12]:
print(list_meta[3], list_meta[4], list_meta[5])
meta_ncc2018_1_1 = pd.read_excel(list_meta[3], engine='openpyxl', sheet_name=0)
meta_ncc2018_1_2a = pd.read_excel(list_meta[4], engine='openpyxl', sheet_name=0)
meta_ncc2018_1_2b = pd.read_excel(list_meta[4], engine='openpyxl', sheet_name=3)
meta_ncc2018_1_3a = pd.read_excel(list_meta[5], engine='openpyxl', sheet_name=0)
meta_ncc2018_1_3b = pd.read_excel(list_meta[5], engine='openpyxl', sheet_name=1)
meta_ncc2018_2 = pd.read_excel(list_meta[6], engine='openpyxl', sheet_name=0)

/data1/home/jyhwang/meta/ncc2018-1st-1.xlsx /data1/home/jyhwang/meta/ncc2018-1st-2.xlsx /data1/home/jyhwang/meta/ncc2018-1st-3.xlsx

In [13]:
meta_ncc2018_1_1 = meta_ncc2018_1_1[~pd.isna(meta_ncc2018_1_1.id)]
del meta_ncc2018_1_2b["parity"]
meta_ncc2018_1_2 = pd.concat([meta_ncc2018_1_2a, meta_ncc2018_1_2b])
meta_ncc2018_1_3 = pd.concat([meta_ncc2018_1_3a, meta_ncc2018_1_3b])

In [14]:
meta_ncc2018_1_1 = meta_ncc2018_1_1.rename(columns={"id":"ID"})

del meta_ncc2018_1_3["ID"]
del meta_ncc2018_1_2["DATE.1"]
del meta_ncc2018_1_2["ID.1"]
meta_ncc2018_1_3 = meta_ncc2018_1_3.rename(columns={"mammoID":"ID"})
#meta_ncc2018_2.rename(columns={})
meta_ncc2018_2 = meta_ncc2018_2[~pd.isna(meta_ncc2018_2["ID"])]
meta_ncc2018_2.ID = meta_ncc2018_2.ID.astype(int)

meta_ncc2018_1_1 = meta_ncc2018_1_1.dropna(axis=1, how="all")
meta_ncc2018_1_2 = meta_ncc2018_1_2.dropna(axis=1, how="all")
meta_ncc2018_2 = meta_ncc2018_2.dropna(axis=1, how="all")

In [15]:
meta_ncc2018_1_1.loc[meta_ncc2018_1_1.cancer==0,"cancer"] = "control"
meta_ncc2018_1_1.loc[meta_ncc2018_1_1.cancer==1,"cancer"] = "case"

meta_ncc2018_1_2.loc[meta_ncc2018_1_2.status=="casee","status"] = "case"

meta_ncc2018_1_3.loc[meta_ncc2018_1_3.casestatus==0,"casestatus"] = "control"
meta_ncc2018_1_3.loc[meta_ncc2018_1_3.casestatus==1,"casestatus"] = "case"

meta_ncc2018_2.loc[meta_ncc2018_2.status!="case","status"] = "NA"

In [16]:
meta_ncc2018_1_1 = meta_ncc2018_1_1.rename(columns={"id":"ID","date":"DATE","modality":"VENDOR_type","age":"AGE","cancer":"GROUP","category":"GROUP_category","reading":"GROUP_reading"})
meta_ncc2018_1_2 = meta_ncc2018_1_2.rename(columns={"id":"ID","date":"DATE","Modality":"VENDOR_type","status":"GROUP","category site":"GROUP_category","reading":"GROUP_reading","subtype":"GROUP_subtype","Diagonosis side":"GROUP_side","Peronal history":"GROUP_history"})
meta_ncc2018_1_3 = meta_ncc2018_1_3.rename(columns={"mammoID":"ID","manufacture":"VENDOR_type","age":"AGE","casestatus":"GROUP","affectedside":"GROUP_side"})
meta_ncc2018_2 = meta_ncc2018_2.rename(columns={"date":"DATE","Modality":"VENDOR_type","status":"GROUP","category site":"GROUP_category","reading":"GROUP_reading","subtype":"GROUP_subtype","Diagonosis side":"GROUP_side","Peronal history":"GROUP_history","method":"VENDOR_3D"})

In [17]:
meta_ncc2018_1_3["DATE"] = "NA"
meta_ncc2018_1_3["GROUP_category"] = "NA"
meta_ncc2018_1_3["GROUP_reading"] = "NA"

In [18]:
meta_ncc2018 = pd.concat([meta_ncc2018_1_1,meta_ncc2018_1_2, meta_ncc2018_1_3, meta_ncc2018_2])
meta_ncc2018 = meta_ncc2018.drop_duplicates()
meta_ncc2018 = meta_ncc2018.reset_index(drop=True)

In [19]:
meta_ncc2018["ID_raw"] = meta_ncc2018.ID
meta_ncc2018.ID = [str(i)[0:8] for i in meta_ncc2018.ID_raw]
meta_ncc2018["ID_followup"] = [str(i)[8:] for i in meta_ncc2018.ID_raw]
meta_ncc2018["ID_followup"] = [re.sub("\(|\)","",i) for i in meta_ncc2018.ID_followup]
del meta_ncc2018["ID_raw"]

In [20]:
meta_ncc2018 = meta_ncc2018[["ID","ID_followup","DATE","AGE",
              "GROUP","GROUP_category","GROUP_reading","GROUP_subtype","GROUP_side","GROUP_history",
              "VENDOR_type","VENDOR_3D",
              "Family history","height","weight","parity(year)","number of birth","menopausal","prevalence case","comment"
             ]]

In [21]:
meta_ncc2018.drop_duplicates(["ID","GROUP"])

,ID,ID_followup,DATE,AGE,GROUP,GROUP_category,GROUP_reading,GROUP_subtype,GROUP_side,GROUP_history,VENDOR_type,VENDOR_3D,Family history,height,weight,parity(year),number of birth,menopausal,prevalence case,comment
0,20411123,,2017.08.11,49.0,control,NaN,"Category 2, equivalent change of benign microc...",NaN,NaN,NaN,senograph DS (GE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33125750,be0,2010.11.18,42.0,control,Category 0,"Mass opacity of right upper outer quadrant, pa...",NaN,NaN,NaN,senograph DS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33125750,be1,2017.08.11,49.0,NaN,"Category 0, right 2",Extremely dense,NaN,NaN,NaN,selenial dimensions(hologic),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31223612,,2017.08.11,57.0,control,Category 2,benign mass of right mid inner,NaN,NaN,NaN,senograph ds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33263682,,2015.11.05,41.0,case,"LT, 6","Heterogeneous dense, malignancy but difficult ...",NaN,NaN,NaN,selenial dimensions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,33348616,,2019.01.04,38.0,NA,Ca 6,/P Both mammotome excision for right IDC(0.7cm...,NaN,RT,initial,senograph,2D,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN
3576,33348703,,2019.01.07,46.0,NA,Ca 6,2cm irregular palpable mass in right upper out...,NaN,RT,initial,senograph,2D,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN
3577,33347024,,2019.01.08,50.0,NA,Ca 6,Left CC view center portion에 distortion 동반한 as...,NaN,LT,initial,senograph,2D,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN
3578,33348950,,2019.01.08,47.0,NA,Ca 6,Left mid outer portion에 skin marker 부착되어 있으며 해...,NaN,LT,initial,senograph,2D,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN
3579,33350336,,2019.01.09,51.0,NA,Ca 4,"5cm extent, segmental fine linear microcalcifi...",NaN,RT,initial,senograph,2D,NaN,NaN,NaN,NaN,NaN,NaN,O,NaN

#### EXPORT

In [22]:
# 병원별 자료 정리하기

In [24]:
meta_brmh = meta_brmh.rename(columns={meta_brmh.columns[0]:"ID"})
meta_brmh = meta_brmh[~pd.isna(meta_brmh.ID)]
meta_brmh.loc[:,"ID"] = meta_brmh.ID.astype(int)
meta_brmh.loc[:,"ID"] = [str(i).zfill(4) for i in meta_brmh.ID]

In [26]:
id_ilsan = pd.read_csv("id/id_ilsan.csv")
id_ilsan = pd.DataFrame(zip([i.split("_")[0] for i in id_ilsan.original],[i.split("_")[0] for i in id_ilsan.new]), columns=["Study_ID","ID_dicom"]).drop_duplicates().reset_index(drop=True)
meta_ilsan["Study_ID"] = [str(i).zfill(4) for i in meta_ilsan.Study_ID]
meta_ilsan = pd.merge(id_ilsan, meta_ilsan, how="outer")

In [27]:
meta_ncc2018.loc[meta_ncc2018.ID=='3331162','ID'] = "33331162"
meta_ncc2020.ID = [str(i).zfill(5) for i in meta_ncc2020.ID]

In [28]:
meta_samsung = meta_samsung.rename(columns={"id":"ID","case":"GROUP"})
id_samsung = pd.read_csv("id/id_samsung.csv")[['dicom','PatientID']]

id_samsung.dicom = ["_".join(i.split("_")[0:2]) if i.startswith("S12-") or i.startswith("S13-") or i.startswith("S12_") or i.startswith("S13_") else i.split("_")[0] for i in id_samsung.dicom]
id_samsung.PatientID = [str(i).zfill(8) for i in id_samsung.PatientID]

id_samsung.columns = ['ID_original','ID_new']
id_samsung = id_samsung.drop_duplicates()

meta_samsung.ID = [str(i).zfill(8) if str(i).startswith("S") is False else str(i) for i in meta_samsung.ID]
meta_samsung.ID = [re.sub("-","_",i) for i in meta_samsung.ID]

tmp = pd.concat([
    pd.merge(id_samsung, meta_samsung, how="inner", left_on="ID_original", right_on="ID"),
    pd.merge(id_samsung, meta_samsung, how="inner", left_on="ID_new", right_on="ID")]).rename(columns={"ID":"ID_meta","ID_new":"ID","ID_original":"ID_original"})
meta_samsung = pd.concat([tmp, meta_samsung[[i not in tmp.ID_meta.tolist() for i in meta_samsung.ID]].rename(columns={"ID":"ID_meta","ID_new":"ID","ID_original":"ID_original"})])

In [29]:
meta_brmh = meta_brmh.dropna(axis=1, how="all")
meta_twin.loc[meta_twin.ca108==1,"ca108"] = "control"
meta_twin.loc[meta_twin.ca108==2,"ca108"] = "case"

In [30]:
meta_asan = meta_asan.rename(columns={"id":"ID","case":"GROUP"})
meta_ilsan = meta_ilsan.rename(columns={"ID_dicom":"ID","Case_Control":"GROUP"})
meta_twin = meta_twin.rename(columns={"eid":"ID","ca108":"GROUP"})

In [31]:
meta_asan.loc[:,"CENTER"] = "asan"
meta_brmh.loc[:,"CENTER"] = "brmh"
meta_ilsan.loc[:,"CENTER"] = "ilsan"
meta_ncc2018.loc[:,"CENTER"] = "ncc2018"
meta_ncc2020.loc[:,"CENTER"] = "ncc2020"
meta_samsung.loc[:,"CENTER"] = "samsung"
meta_twin.loc[:,"CENTER"] = "twin"

In [32]:
meta_ncc2018["BMI"] = meta_ncc2018.weight/((meta_ncc2018.height/100)**2)
meta_asan["SIDE"] = [re.sub(".dcm","",i.split("_")[1]) for i in meta_asan.strimageid]
meta_asan["SIDE_case"] = math.nan
meta_asan.loc[meta_asan.GROUP==1,"SIDE_case"] = meta_asan[meta_asan.GROUP==1].SIDE

In [33]:
meta_asan = meta_asan.rename(columns={"id":"ID","case":"GROUP","age":"AGE","bmi":"BMI"})
meta_brmh = meta_brmh.rename(columns={"연령":"AGE","검진날짜":"DATE_TEST"})
meta_ilsan = meta_ilsan.rename(columns={"ID_dicom":"ID","Case_Control":"GROUP","Age":"AGE","Case_location":"SIDE_case"})
meta_ncc2018= meta_ncc2018.rename(columns={"DATE":"DATE_TEST"})
meta_ncc2020 = meta_ncc2020.rename(columns={'BIRADS category (양쪽)':"BIRADS_both", 'BIRADS category (좌)':"BIRADS_left", 'BIRADS category (우)':"BIRADS_right"})
meta_samsung = meta_samsung.rename(columns={"age":"AGE","bmi":"BMI"})
meta_twin = meta_twin.rename(columns={"eid":"ID","ca108":"GROUP","age":"AGE"})

In [34]:
meta_ncc2020["SIDE_case"] = ""
meta_ncc2020.loc[meta_ncc2020.BIRADS_both==1,"SIDE_case"] = math.nan
meta_ncc2020.loc[pd.isna(meta_ncc2020.BIRADS_both) & ~pd.isna(meta_ncc2020.BIRADS_left),"SIDE_case"] = "LCC"
meta_ncc2020.loc[pd.isna(meta_ncc2020.BIRADS_both) & ~pd.isna(meta_ncc2020.BIRADS_right),"SIDE_case"] = "RCC"
meta_ncc2020.loc[(~pd.isna(meta_ncc2020.BIRADS_both)) & (meta_ncc2020.BIRADS_both!=1),"SIDE_case"] = "BOTH"

In [35]:
ncc2020_age = pd.read_csv("/data1/home/jyhwang/meta/ncc_nia_mammogram_ages.csv")
ncc2020_age.subject = [str(i).zfill(5) for i in ncc2020_age.subject]

In [36]:
meta_ncc2020 = meta_ncc2020.merge(ncc2020_age, left_on="ID", right_on="subject")
meta_ncc2020 = meta_ncc2020.rename(columns={'age':"AGE"})

In [39]:
tmp = pd.read_csv("groundtruth/merged_v2.5.csv")
tmp["dicom"] = [re.sub(".dcm","",i.split("/")[-1]) for i in tmp.absolute_path]
tmp_samsung = tmp[tmp.origin=="Samsung2"].copy()
tmp_samsung["SIDE"] = [i.split("_")[0] for i in tmp_samsung.dicom]
tmp_samsung["ID_meta"] = [i.split("_")[1] if len(i.split("_")[1:])==2 else ("_").join(i.split("_")[1:3]) for i in tmp_samsung.dicom]

In [40]:
meta_samsung = tmp_samsung[["ID_meta","SIDE"]].merge(meta_samsung, how="outer")
meta_samsung["SIDE_case"] = math.nan
meta_samsung.loc[meta_samsung.GROUP==1,"SIDE_case"] = meta_samsung.loc[meta_samsung.GROUP==1,"SIDE"]

In [41]:
meta_asan["SIDE_case"] = [str(1) if i=="0" else str(0) if i=="1" else math.nan for i in meta_asan.SIDE_case]
meta_samsung["SIDE_case"] = ["CCR" if i=="CCL" else "CCL" if i=="CCR" else math.nan for i in meta_samsung.SIDE_case]

##### meta_total

In [42]:
# 모든 파일 합치기

In [43]:
meta_total = pd.concat([meta_asan,meta_brmh,meta_ilsan,meta_ncc2018,meta_ncc2020,meta_samsung,meta_twin])[["ID","GROUP","CENTER","AGE","BMI","SIDE_case"]].drop_duplicates(["ID","CENTER","GROUP"])
#meta_total = pd.concat([meta_asan,meta_brmh,meta_ilsan,meta_ncc2018,meta_ncc2020,meta_samsung,meta_twin])[["ID","GROUP","CENTER","AGE","BMI","SIDE_case","VENDOR_type"]].drop_duplicates(["ID","CENTER","GROUP"])

In [44]:
meta_total.loc[meta_total.GROUP==0,"GROUP"] = "control"
meta_total.loc[meta_total.GROUP==1,"GROUP"] = "case"
meta_total.loc[meta_total.GROUP=="normal","GROUP"] = "control"
meta_total.loc[meta_total.GROUP=="malign","GROUP"] = "case"
meta_total.loc[meta_total.GROUP==".","GROUP"] = "NA"
meta_total.loc[meta_total.GROUP=="NA","GROUP"] = math.nan

In [45]:
meta_total = meta_total[~pd.isna(meta_total.ID)]
# meta_total = meta_total[~pd.isna(meta_total.GROUP)]

In [46]:
meta_total[meta_total.ID.duplicated()].sort_values(["ID"])

            ID    GROUP   CENTER   AGE  BMI SIDE_case
61    20000686     case  ncc2018  67.0  NaN       NaN
53    20369037     case  ncc2018  53.0  NaN       NaN
3240  20416205      NaN  ncc2018  50.0  NaN       NaN
148   31175612  control  ncc2018  36.0  NaN       NaN
124   31280196  control  ncc2018  62.0  NaN       NaN
...        ...      ...      ...   ...  ...       ...
3151  33320309      NaN  ncc2018  80.0  NaN       NaN
3143  33320616      NaN  ncc2018  74.0  NaN       NaN
3149  33320831      NaN  ncc2018  57.0  NaN       NaN
2591  90025583     case  ncc2018  53.0  NaN       NaN
81    90179776  control  ncc2018  52.0  NaN       NaN

[91 rows x 6 columns]

In [47]:
meta_total[meta_total.CENTER=="ncc2020"]

         ID    GROUP   CENTER   AGE  BMI SIDE_case
0     00001     case  ncc2020  66.0  NaN       LCC
1     00002     case  ncc2020  46.0  NaN       LCC
2     00003     case  ncc2020  43.0  NaN       LCC
3     00004     case  ncc2020  58.0  NaN       RCC
4     00005     case  ncc2020  51.0  NaN       RCC
...     ...      ...      ...   ...  ...       ...
7495  25668  control  ncc2020  56.0  NaN       NaN
7496  25669  control  ncc2020  56.0  NaN       NaN
7497  25670  control  ncc2020  76.0  NaN       NaN
7498  25671  control  ncc2020  74.0  NaN       NaN
7499  25672  control  ncc2020  50.0  NaN       NaN

[7500 rows x 6 columns]

In [48]:
meta_total.to_csv("csv/meta.csv",index=False) #내보내기

### DENSITY

In [110]:
densityCol =["file","thres_cu",
 "thres_ac",
 "thres_cc",
 "darea_cu",
 "darea_ac",
 "darea_cc",
 "pda_cu",
 "pda_ac",
 "pda_cc"]

In [157]:
density_ncc2020_HO = pd.read_excel("groundtruth/NCC/Hologic_MD.xlsx", engine='openpyxl').merge(pd.read_excel("groundtruth/NCC/Hologic_MD_densitythreshold.xlsx", engine='openpyxl'), left_on = 'image_id', right_on='strimageid')
density_ncc2020_HO = density_ncc2020_HO[['image_id','dthres_cu','dthres_ac','dthres_cc','darea_cu_cm2','darea_ac_cm2','darea_cc_cm2','pda_cu','pda_ac','pda_cc']]
density_ncc2020_GE = pd.read_csv("groundtruth/NCC/MD_measurements.csv")[["strimageid",'density_threshold_cu_pixels','density_threshold_ac_pixels','density_threshold_cc_pixels',"darea_cu_cm2","darea_ac_cm2","darea_cc_cm2","pda_cu","pda_ac","pda_cc"]]
density_ncc2020_HO.columns = densityCol
density_ncc2020_GE.columns = densityCol
density_ncc2020 = pd.concat([density_ncc2020_GE,density_ncc2020_HO])
density_ncc2020.file = [re.sub('.dcm','_19000101.dcm',i) for i in density_ncc2020.file]

In [158]:
dicom_asan = glob("/data1/home/jyhwang/dicom/asan/*")
dicom_samsung = glob("/data1/home/jyhwang/dicom/samsung/*")

In [159]:
density_asan = meta_asan[['strimageid','darea_cu','darea_ac','darea_cc','pda_cu','pda_ac','pda_cc']].rename(columns={"strimageid":"file"})
density_asan["ID"] = [i.split("_")[0] for i in density_asan.file]
density_asan["SIDE"] = ["LCC" if "_1.dcm" in i else "RCC" for i in density_asan.file]

In [160]:
density_asan

,file,darea_cu,darea_ac,darea_cc,pda_cu,pda_ac,pda_cc,ID,SIDE
0,13290335_1.dcm,8.29778,2.2090,0.01970,5.665040,1.489550,0.013062,13290335,LCC
1,21087749_1.dcm,16.46840,7.7427,0.07550,15.133600,6.690030,0.065343,21087749,LCC
2,15321033_0.dcm,17.64830,11.2993,1.47640,15.635350,9.484430,1.235230,15321033,RCC
3,15849579_0.dcm,1.01044,0.5780,0.17560,1.291189,0.735459,0.222740,15849579,RCC
4,11505055_0.dcm,11.08953,4.2225,0.14890,16.957600,6.265200,0.215343,11505055,RCC
...,...,...,...,...,...,...,...,...,...
2129,37090841_0.dcm,23.86935,20.4757,0.94090,23.868800,19.740000,0.902668,37090841,RCC
2130,28387464_1.dcm,25.76020,15.1138,1.38380,30.660650,16.969700,1.559310,28387464,LCC
2131,35222565_0.dcm,64.46975,37.3543,3.54870,50.724600,27.768200,2.649810,35222565,RCC
2132,36230956_0.dcm,21.38920,19.4278,3.73079,63.638150,55.321600,10.409100,36230956,RCC
2133,34817674_1.dcm,52.20130,36.0194,2.23770,32.003400,20.886700,1.306430,34817674,LCC

In [153]:
# dicom_asan[1]

'/data1/home/jyhwang/dicom/asan/19117685_RCC_20080401.dcm'

In [161]:
density_asan = pd.DataFrame(zip(dicom_asan, [i.split("_")[0].split("/")[-1] for i in dicom_asan], [i.split("_")[1] for i in dicom_asan]),columns=['file2','ID',"SIDE"]).merge(density_asan).sort_values(by=['ID'])
density_asan.file =  [i.split('/')[6] for i in density_asan.file2]
density_asan = density_asan[['file','darea_cu','darea_ac','darea_cc','pda_cu','pda_ac','pda_cc']]

In [163]:
# density_asan

In [164]:
density_samsung = meta_samsung[['ID',"SIDE",'darea_cu','darea_ac','darea_cc','pda_cu','pda_ac','pda_cc']].drop_duplicates()
density_samsung = density_samsung[~pd.isna(density_samsung.ID)]

In [165]:
density_samsung.value_counts("ID")[density_samsung.value_counts("ID") > 1]

ID
00084782    3
02183139    2
dtype: int64

In [166]:
density_samsung = density_samsung[[i not in ["00084782", "02183139"] for i in density_samsung.ID]]

In [167]:
tmp = pd.read_csv("groundtruth/merged_v2.5.csv")
tmp["dicom"] = [re.sub(".dcm","",i.split("/")[-1]) for i in tmp.absolute_path]

In [168]:
tmp_asan = tmp[tmp.origin=="Asan"].copy()
tmp_asan["ID"] = [i.split('/')[-1].split('_')[0] for i in tmp_asan.dicom]
tmp_asan = tmp_asan[["ID","cu_threshold","ac_threshold","cc_threshold"]]

In [169]:
density_asan["ID"] = [i.split("_")[0] for i in density_asan.file]
density_asan = density_asan.merge(tmp_asan,how="left")
del density_asan["ID"]
density_asan = density_asan[["file","cu_threshold","ac_threshold","cc_threshold","darea_cu","darea_ac","darea_cc","pda_cu","pda_ac","pda_cc"]]
density_asan.columns = densityCol

In [170]:
tmp_samsung = tmp[tmp.origin=="Samsung2"].copy()
tmp_samsung["SIDE"] = [i.split("_")[0] for i in tmp_samsung.dicom]
tmp_samsung["ID_meta"] = [i.split("_")[1] if len(i.split("_")[1:])==2 else ("_").join(i.split("_")[1:3]) for i in tmp_samsung.dicom]
tmp_samsung = tmp_samsung[['ID_meta',"SIDE","cu_threshold","ac_threshold","cc_threshold"]].merge(meta_samsung,on=["ID_meta","SIDE"])[["ID","SIDE","cu_threshold","ac_threshold","cc_threshold"]]

In [171]:
density_samsung = density_samsung.merge(tmp_samsung,how="left")
density_samsung = density_samsung[["ID","SIDE","cu_threshold","ac_threshold","cc_threshold","darea_cu","darea_ac","darea_cc","pda_cu","pda_ac","pda_cc"]]
density_samsung.columns = ['ID','SIDE',"thres_cu","thres_ac","thres_cc","darea_cu","darea_ac","darea_cc","pda_cu","pda_ac","pda_cc"]

In [172]:
density_asan['CENTER'] = "asan"
density_ncc2020['CENTER'] = "ncc2020"
density_samsung['CENTER'] = "samsung"

In [173]:
density_samsung = density_samsung.merge(meta_samsung[["ID","GROUP"]].drop_duplicates())[['ID','SIDE',"GROUP","thres_cu","thres_ac","thres_cc","darea_cu","darea_ac","darea_cc","pda_cu","pda_ac","pda_cc","CENTER"]]

In [174]:
density_samsung

,ID,SIDE,GROUP,thres_cu,thres_ac,thres_cc,darea_cu,darea_ac,darea_cc,pda_cu,pda_ac,pda_cc,CENTER
0,03625515,CCL,0,2328.144813,2462.519813,2635.957313,5.899175,2.014850,0.611775,8.161189,2.768734,0.838834,samsung
1,29165253,CCL,1,2641.750071,2830.812571,3046.437571,22.884150,7.497425,1.036800,17.221370,5.636589,0.790817,samsung
2,11587757,CCL,0,2309.209125,2470.146625,2621.709125,21.629350,7.934875,0.933825,29.619130,11.048340,1.279247,samsung
3,06449235,CCR,0,2331.813849,2478.688849,2605.251349,18.672850,6.820000,1.471800,25.574420,9.340616,2.007620,samsung
4,27422082,CCL,1,2241.394942,2374.207442,2489.832442,18.615770,4.702700,1.140500,13.150960,3.331193,0.797089,samsung
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,24861037,NaN,1,NaN,NaN,NaN,26.869540,32.193590,5.718840,27.303770,32.086980,5.696680,samsung
2062,00119826,NaN,1,NaN,NaN,NaN,9.457800,5.827342,1.476760,7.537513,4.999401,1.270410,samsung
2063,03303121,NaN,1,NaN,NaN,NaN,14.535750,13.964560,1.994590,13.872880,12.991380,1.855950,samsung
2064,07978509,NaN,1,NaN,NaN,NaN,14.558440,15.909520,2.350820,13.832670,14.541730,2.143350,samsung
2065,21471033,NaN,1,NaN,NaN,NaN,11.077200,7.894701,2.792970,11.835610,9.448959,3.331760,samsung

In [175]:
dicom_samsung = pd.DataFrame(dicom_samsung,columns=["path"])
dicom_samsung["file"] = [i.split('/')[-1] for i in dicom_samsung.path]
dicom_samsung["ID"] = [i.split('_')[0] for i in dicom_samsung.file]
dicom_samsung["LR"] = [i.split('_')[1] for i in dicom_samsung.file]
dicom_samsung["DATE"] = [i.split('_')[2] for i in dicom_samsung.file]

In [176]:
list_dup = list(set(dicom_samsung[dicom_samsung.ID.duplicated()].ID.tolist()))

In [177]:
dicom_samsung_unique = dicom_samsung[[i not in list_dup for i in dicom_samsung.ID]]

In [178]:
dicom_samsung_unique = dicom_samsung_unique.merge(density_samsung)
#dicom_samsung = dicom_samsung[((dicom_samsung.LR == "LCC") & (dicom_samsung.SIDE == "CCL")) | ((dicom_samsung.LR == "RCC") & (dicom_samsung.SIDE == "CCR")) | pd.isna(dicom_samsung.SIDE)]

In [179]:
dicom_samsung_unique

,path,file,ID,LR,DATE,SIDE,GROUP,thres_cu,thres_ac,thres_cc,darea_cu,darea_ac,darea_cc,pda_cu,pda_ac,pda_cc,CENTER
0,/data1/home/jyhwang/dicom/samsung/16794608_RCC...,16794608_RCC_20080710.dcm,16794608,RCC,20080710.dcm,NaN,0,NaN,NaN,NaN,4.361600,6.346899,0.72358,2.469407,4.043435,0.459269,samsung
1,/data1/home/jyhwang/dicom/samsung/18930709_LCC...,18930709_LCC_20080317.dcm,18930709,LCC,20080317.dcm,NaN,0,NaN,NaN,NaN,15.666100,12.892250,4.79901,26.843490,24.470850,9.198780,samsung
2,/data1/home/jyhwang/dicom/samsung/10111502_LCC...,10111502_LCC_20101109.dcm,10111502,LCC,20101109.dcm,NaN,0,NaN,NaN,NaN,11.640640,18.098980,4.20557,12.476310,18.580430,4.280190,samsung
3,/data1/home/jyhwang/dicom/samsung/19752609_LCC...,19752609_LCC_20091112.dcm,19752609,LCC,20091112.dcm,NaN,0,NaN,NaN,NaN,47.594500,41.855600,15.32420,39.073020,38.430850,14.070500,samsung
4,/data1/home/jyhwang/dicom/samsung/00416048_LCC...,00416048_LCC_20110915.dcm,00416048,LCC,20110915.dcm,NaN,0,NaN,NaN,NaN,2.858121,6.070218,2.35896,2.516732,4.863399,1.890470,samsung
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,/data1/home/jyhwang/dicom/samsung/17871814_RCC...,17871814_RCC_20110509.dcm,17871814,RCC,20110509.dcm,NaN,1,NaN,NaN,NaN,27.246200,33.422610,7.68272,27.828600,38.016650,2.361090,samsung
783,/data1/home/jyhwang/dicom/samsung/07978509_LCC...,07978509_LCC_20070112.dcm,07978509,LCC,20070112.dcm,NaN,1,NaN,NaN,NaN,14.558440,15.909520,2.35082,13.832670,14.541730,2.143350,samsung
784,/data1/home/jyhwang/dicom/samsung/19490134_RCC...,19490134_RCC_20091019.dcm,19490134,RCC,20091019.dcm,NaN,0,NaN,NaN,NaN,13.904830,7.454346,2.18469,14.417660,7.562981,2.218200,samsung
785,/data1/home/jyhwang/dicom/samsung/20448515_LCC...,20448515_LCC_20090410.dcm,20448515,LCC,20090410.dcm,NaN,0,NaN,NaN,NaN,7.196630,4.153387,2.84323,11.681850,6.393309,4.340270,samsung
786,/data1/home/jyhwang/dicom/samsung/23212155_LCC...,23212155_LCC_20090630.dcm,23212155,LCC,20090630.dcm,NaN,0,NaN,NaN,NaN,34.286500,35.349740,4.79450,29.422520,33.665760,4.573850,samsung

In [180]:
density = pd.concat([
    density_asan, density_ncc2020
]).drop_duplicates().reset_index(drop=True)

In [181]:
density

,file,thres_cu,thres_ac,thres_cc,darea_cu,darea_ac,darea_cc,pda_cu,pda_ac,pda_cc,CENTER
0,10512416_RCC_20070829.dcm,2132.868925,2200.056425,2490.681425,23.614600,19.142900,0.919200,35.131600,27.281200,1.293060,asan
1,10516254_LCC_20080709.dcm,2362.077590,2457.390090,2768.327590,27.638500,19.474200,1.277500,24.497100,16.404300,1.088320,asan
2,10531695_RCC_20090205.dcm,2327.620166,2393.245166,2813.557666,8.285550,6.728200,0.229600,17.447000,13.631600,0.461143,asan
3,10531811_LCC_20080218.dcm,2395.471939,2526.721939,2645.471939,4.773915,0.946300,0.160500,3.534435,0.634850,0.107260,asan
4,10532852_LCC_20071214.dcm,2179.805586,2267.305586,2562.618086,24.510100,20.296800,1.149500,36.303400,29.103900,1.622840,asan
...,...,...,...,...,...,...,...,...,...,...,...
14113,25667_RCC_19000101.dcm,1934.000000,2708.000000,3456.000000,18.487550,2.823919,0.401114,20.555580,3.139804,0.445983,ncc2020
14114,25669_LCC_19000101.dcm,1701.000000,2362.000000,3364.000000,17.140640,4.889416,0.866320,24.138910,6.885692,1.220026,ncc2020
14115,25669_RCC_19000101.dcm,1538.000000,2486.000000,3478.000000,19.050120,4.342184,0.723681,26.391970,6.015646,1.002585,ncc2020
14116,25672_LCC_19000101.dcm,1728.000000,2670.000000,3407.000000,15.619730,2.584162,0.557326,18.946750,3.134592,0.676037,ncc2020
14117,25672_RCC_19000101.dcm,1609.000000,2205.000000,3109.000000,17.124960,2.885071,0.367304,17.738970,2.988513,0.380473,ncc2020

In [182]:
density[["file","CENTER","thres_cu","thres_ac","thres_cc"]].value_counts("CENTER")

CENTER
ncc2020    12000
asan        2118
dtype: int64

In [186]:
# 내보내기
density.to_csv("csv/density_asan-ncc.csv",index=False)
density_samsung.to_csv("csv/density_samsung.csv",index=False)

In [183]:
density_samsung

,ID,SIDE,GROUP,thres_cu,thres_ac,thres_cc,darea_cu,darea_ac,darea_cc,pda_cu,pda_ac,pda_cc,CENTER
0,03625515,CCL,0,2328.144813,2462.519813,2635.957313,5.899175,2.014850,0.611775,8.161189,2.768734,0.838834,samsung
1,29165253,CCL,1,2641.750071,2830.812571,3046.437571,22.884150,7.497425,1.036800,17.221370,5.636589,0.790817,samsung
2,11587757,CCL,0,2309.209125,2470.146625,2621.709125,21.629350,7.934875,0.933825,29.619130,11.048340,1.279247,samsung
3,06449235,CCR,0,2331.813849,2478.688849,2605.251349,18.672850,6.820000,1.471800,25.574420,9.340616,2.007620,samsung
4,27422082,CCL,1,2241.394942,2374.207442,2489.832442,18.615770,4.702700,1.140500,13.150960,3.331193,0.797089,samsung
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,24861037,NaN,1,NaN,NaN,NaN,26.869540,32.193590,5.718840,27.303770,32.086980,5.696680,samsung
2062,00119826,NaN,1,NaN,NaN,NaN,9.457800,5.827342,1.476760,7.537513,4.999401,1.270410,samsung
2063,03303121,NaN,1,NaN,NaN,NaN,14.535750,13.964560,1.994590,13.872880,12.991380,1.855950,samsung
2064,07978509,NaN,1,NaN,NaN,NaN,14.558440,15.909520,2.350820,13.832670,14.541730,2.143350,samsung
2065,21471033,NaN,1,NaN,NaN,NaN,11.077200,7.894701,2.792970,11.835610,9.448959,3.331760,samsung